/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

/config/database.yml
/config/secrets.yml

.byebug_history

.DS_Store
Thumbs.db

.vagrant

.idea
.svn
*.swp
*.cache
*.log

/make_tags
/tags
