<%= render 'header' %>

<div id="events" class="team-events">

  <%= render 'item' %>

</div>

<a href="javascript:;" id="btn-load-more" class="over" style="display: block;">正在加载更多...</a>

<%= render 'footer' %>
